.Ad {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 40px;
}
.Ad-contacts-and-controls {
  flex-direction: column;
}

.Ad-title {
  font-size: 18px;
  line-height: 1.22;
  color: #1b2834;
  margin-bottom: 20px;
}

/* @media screen AND (max-width: 650px) {
  .Ad-title {
    display: block;
    width: 70%;
  }
} */

.Ad-message {
  font-size: 14px;
  line-height: 1.57;
  white-space: pre-wrap;
}

.Ad-phone,
.Ad-city {
  color: #1b2834;

  padding: 3px 0 0 31px;
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 14px;
}
.Ad-city {
  background: url(../media/city-icon.svg) 0 2px no-repeat;
}
.Ad-phone {
  background: url(../media/phone-icon.svg) 0 2px no-repeat;
}

.controls {
  margin-top: 153px;
  flex: none;
}

.Ad-btn {
  display: block;
  min-width: 178px;
  padding: 8px 0px 10px 0px;
}
.Ad-edit-btn {
  color: #2d74da;
  border: 1px solid #2d74da;
  background: none;
  margin-bottom: 14px;
}

.Ad-delete-btn {
  color: #fa5e5b;
  border: 1px solid #fa5e5b;
  background: none;
  margin-bottom: 14px;
}
