@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  background: linear-gradient(
    0.25turn,
    rgba(241, 208, 255, 100%),
    rgba(0, 255, 187, 0.5)
  );
}
.App {
  background-color: #ffffff;
  width: 65%;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 60px;
}

@media screen AND (max-width: 1400px) {
  .App {
    width: 90%;
  }
}

h1,
h2,
h3,
p,
span,
button,
label {
  font-family: "Roboto", sans-serif;
  color: #333333;
}

.App-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.btn {
  -webkit-appearance: none;
  transition-duration: 0.5s;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: #8aecdc;
  color: #ffffff;
  padding: 10px 14px;
}

.btn:hover {
  transition-duration: 0.5s;

  background-color: #bee8e1;
}
