@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap");

.App {
  background-color: #ffffff;
  width: 65%;
  margin: 0 auto;
}

@media screen AND (max-width: 1400px) {
  .App {
    width: 90%;
  }
}

h1,
h2,
h3,
p,
span,
button,
label,
input,
textarea {
  font-family: "Source Sans Pro", sans-serif;
  color: #68717c;
}

.App-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.btn {
  -webkit-appearance: none;
  transition-duration: 0.5s;
  border-radius: 3px;
  border: 0;
  outline: 0;
  background-color: #2d74da;
  color: #ffffff;
  padding: 8px 48px 10px 48px;
  box-shadow: 0 1px 0 0 rgba(27, 40, 52, 0.16);
  background-image: linear-gradient(to bottom, #2d74da, #2367c8);
  font-weight: normal;
  letter-spacing: normal;
  font-size: 14px;
}

.btn:active {
  background-image: linear-gradient(to top, #2d74da, #276ccf, #2367c8);
}
