.FormErrors {
  max-width: 100%;
  margin-left: 25px;
  align-items: flex-start;
  margin-top: 60px;
}

.FormError {
  align-content: flex-start;
  padding-left: 22px;
}

.FormError--valid {
  background: url(../media/input-valid.svg) 0 2px no-repeat;
}
.FormError--error {
  background: url(../media/input-error.svg) 0 2px no-repeat;
}
.FormError--default {
  background: url(../media/help.svg) 0 4px no-repeat;
}

.FormError__status-text {
  font-size: 14px;
  line-height: 1.57;
  white-space: normal;
}

.FormError__status-text--valid {
  color: #16c98d;
}
.FormError__status-text--error {
  color: #fa5e5b;
}
.FormError__status-text--default {
}
