.Form {
  width: 50%;
  margin: 0 auto;
}

@media screen AND (max-width: 1400px) {
  .Form {
    width: 70%;
  }
}

@media screen AND (max-width: 650px) {
  .Form {
    padding: 0 20px;
  }
}

.Form-heading {
  margin: 40px 0;
  font-weight: bold;
  font-size: 24px;
}
.form-group__label {
  display: block;
  margin: 20px 0 10px 0;
  font-size: 18px;
}
.required {
  font-weight: normal;
  color: #ff7f50;
}

.form-group__text-input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  outline: none;

  width: 100%;
  padding: 15px 20px;
  margin-bottom: 20px;

  border-radius: 20px;
  border: 1px solid #85edda;

  font-size: 16px;
  color: #777;
}

textarea {
  max-width: 100%;
  white-space: pre-wrap;
}

.error {
  border: 1px solid #ffac74;
}

.form-group__submit-btn {
  -webkit-appearance: none;
  transition-duration: 0.5s;

  width: 100%;
  margin: 40px 0;

  font-size: 24px;
  letter-spacing: 2px;
}
.form-group__select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  outline: none;

  width: 100%;
  padding: 15px 20px;
  margin: 20px 0;

  border-radius: 20px;
  border: 1px solid #85edda;

  font-size: 16px;
  color: #777;
}
