@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

.app {
    background-color: #ffffff;
    width: 65%;
    margin: 0 auto;
}

@media screen AND (max-width: 1400px) {
    .app {
        width: 90%;
    }
}
